<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Évaluation Node</title>
</head>

<body>
  <h1>Liste des étudiants</h1>
  <ul>
    <% students.forEach((student, index)=> { %>
      <li>
        <%= student.name %> - <%= formatFrenchDate(student.birth) %>
            <a href="/delete/<%= index %>">Supprimer l'étudiant</a>
      </li>
      <% }); %>
  </ul>
  <a href="/">Retour au formulaire</a>
</body>

</html>